body {
    background-color: #4dfed1;
}

.bg-light {
    background: #e9ffff !important;
}

.content > * {
    padding-top: 0.8em;
}

#recipes-list .row {
    padding-bottom: 0.8em;
}

#recipes-list a:hover {
    text-decoration: none;
    color: inherit;
}

#recipes-list a {
    color: inherit;
}

#edit-page-container {
    padding-top: 6em;
}